:host(.so-grid) [part~='header-cell'] ::slotted(vaadin-grid-cell-content),
    [part~='footer-cell'] ::slotted(vaadin-grid-cell-content) {
    font-size: var(--lumo-font-size-s);
    font-weight: 900;
}
:host(.so-grid) [part~="row"][selected] [part~="body-cell"]:not([part~="details-cell"]) {
    background: var(--so-grid-selected-background, var(--lumo-primary-color-50pct));
}
:host([theme~='row-stripes']) [part~='row']:not([odd]) [part~='body-cell'],
    :host([theme~='row-stripes']) [part~='row']:not([odd]) [part~='details-cell'] {
    background: var(--so-grid-stripes-background, var(--lumo-primary-color-10pct));
}
#footer tr:first-child {
    display: none;
}